* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin:0px;
	padding:0px;
}

body {
	background:#1f1a1ac2;
	color:rgb(255, 253, 253);
	font-family:Arial, helvetica, sans-serif;
}

a {
	text-decoration: none;
	color:#ec5690;
}

.wrapp-h {
	max-width: 1000px;
	width:80%;
	margin:auto;
	overflow: hidden;
}

.wrapp-f {
	max-width: 1000px;
	width:80%;
	margin:auto;
	overflow: hidden;
}

.wrapp-fc {
	width:100%;
	position: absolute;
	bottom: 0;
	height: 100%;
	overflow: hidden;
}

header {
	width: 100%;
	height: 83px;
	padding:20px 0;
	background: rgb(48, 46, 46);
	overflow: hidden;
}

.logo {
	width: 43px;
	float: left;
}

.logo img {
	vertical-align: top;
}

nav {
	float: right;
}

nav ul li {
	display: inline-block;
	margin:0px 5px;
}

nav ul li a {
	display: block;
	background: #1a1919;
	color: #f3f3f3;
	padding:10px 20px;
	text-decoration: none;
	border-radius:3px;
	transition:all 300ms ease;
}

nav ul li a:hover {
	color: rgb(39, 39, 39);
	background: #ffffff;
}

.mensaje {
	background:#3f3f3f;
	padding:20px;
	color:rgb(255, 245, 245);
	margin:20px 0;
	border-radius:5px;
}

.articulo {
	float: left;
	width: 70%;
	padding:0px 20px 20px 20px;
}

aside {
	float: left;
	width: 30%;
	background:#161414b7;
	color:rgb(255, 255, 255);
	padding:20px;
	border-radius:5px;
}

.widget ul {
	margin-left:20px;
}

.widget ul li {
	margin:10px 0;
	width: 100%;
}

.widget ul li a {
	color:rgb(250, 250, 250);
}

.widget ul li a:hover {
	text-decoration: underline;
}

footer {
	width: 100%;
	background:rgb(31, 31, 31);
	color:rgb(0, 0, 0);
	position: fixed;
	bottom: 0;
	height: 60px;
}

footer p {
	text-align:center;
}

img {
	border:2px solid rgb(0, 0, 0);
      box-shadow: 10px 10px 5px rgb(0, 0, 0);
      -moz-box-shadow: 10px 10px 5px rgb(0, 0, 0);
      -webkit-box-shadow: 10px 10px 5px rgb(0, 0, 0);
      -khtml-box-shadow: 10px 10px 5px rgb(0, 0, 0);
}
